.button {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #65b79a;
}
